$cardSectionBG: lightgrey;
$cardBG: orange;

.card-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: lighten($cardSectionBG, 10%);
  border: 2px dashed darken($cardSectionBG, 20%);
  height: 40vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.card {
  background-color: $cardBG;
  height: 30vh;
  width: 12vw;
  padding: 1vh;
  border: 1px solid darken($cardBG, 10%);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dragged.card {
  text: none;
  background-color: darken($cardBG, 10%);
  border: 1px solid darken($cardBG, 20%);
}

.card-section-el {
  margin-left: 1vw;
}

.card-section-el:nth-child(1) {
  margin-left: 2vw;
}

.drop-section.dropping {
  background-color: $cardSectionBG;
  border: 2px dashed darken($cardSectionBG, 20%);
}

.drop-section-bg-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: darken($cardSectionBG, 20%);
  margin: 0 auto;
  font-family: sans-serif;
}
